<div class="align-wrapper">
  <nav class="nav-bar">
    {{#link-to 'index'}}Home{{/link-to}}
  </nav>

  <div class="container">
    {{outlet}}
  </div>

  <footer class="footer">Cool Footer 2016</footer>
</div>
